@page "/Facilities"
@inherits BaseDataComponent;
@attribute [Authorize(Roles = $"{RoleConstants.FullUser}, {RoleConstants.AdminUser}")]

@using Casimo.Shared
@using Casimo.Shared.ApiModels
@using Casimo.Shared.ApiModels.Facility
@using Casimo.Shared.Constants
@using Casimo.Web.Components
@using Casimo.Web.Helpers
@using Casimo.Web.Services.Interfaces
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication


<Card Title="Facilities">
	<ChildContent>
		<div class="d-flex flex-column gap-4">
			<MudDataGrid T="FacilityListItemDto"
						 ServerData="LoadFacilitiesServerData"
						 Filterable="true"
						 SortMode="SortMode.Single"
						 Loading="base.IsLoading"
						 RowsPerPage="_rowsPerPage"
						 RowsPerPageValues="@(new int[] { 10, 25, 50, 100 })"
						 CurrentPage="_sessionData.Page"
						 CurrentPageChanged="@((page) => _sessionData.Page = page)"
						 Dense=true
						 @ref="_grid">
				<ToolBarContent>
					<MudTextField T="string" @bind-Value="_sessionData.SearchString" Placeholder="Search" Adornment="Adornment.Start" TextChanged="(async (x) => await OnSearch(x))"
								  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Clearable="true" OnClearButtonClick="ClearSearch"></MudTextField>
				</ToolBarContent>
				<Columns>
					<TemplateColumn StickyLeft="true">
						<CellTemplate>
							<MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" Href="@($"/Facilities/{context.Item.FacilityId}")" StartIcon="@Icons.Material.Filled.RemoveRedEye">View</MudButton>
						</CellTemplate>
					</TemplateColumn>
					<PropertyColumn Property="x => x.LgAid" HeaderStyle="max-width: 75px" ShowFilterIcon="false" />
					<PropertyColumn Property="x => x.SiteName" Title="Site Name" ShowFilterIcon="false" />
					<PropertyColumn Property="x => x.Address" ShowFilterIcon="false" />
					<PropertyColumn Property="x => x.PostCode" Title="Post Code" ShowFilterIcon="false" HeaderStyle="max-width: 75px" />
					<PropertyColumn Property="x => x.Settlement" ShowFilterIcon="false" />
					<PropertyColumn Property="x => x.Owner" ShowFilterIcon="false" />
					<PropertyColumn Property="x => x.Operator" ShowFilterIcon="false" />
				</Columns>
				<PagerContent>
					<MudDataGridPager T="FacilityListItemDto" />
				</PagerContent>
			</MudDataGrid>
			<CustomMap OnUpdateCoords="() => Console.Write(true)" MainDetFac=null OnMarkerClick="@NavigateToFacility" HideModeToggle="true" AllowMarkerClick="true"/>
		</div>
	</ChildContent>
</Card>


<style>
	.usermanager-header {
		display: flex;
		justify-content: space-between;
	}
</style>


