@using Casimo.Shared.ApiModels.Facility
@using GoogleMapsComponents
@inject HttpClient HttpClient
@inherits BaseDataComponent
<div class="inner-container d-flex flex-column gap-2">
    @if (!HideModeToggle)
    {
        <MudToggleGroup Style="font: 10px" T="MapMode" SelectionMode="SelectionMode.SingleSelection" Value="MapMode" ValueChanged="@OnModeToggleChanged" Color="Color.Primary" CheckMark="false" FixedContent Outlined="true" Disabled="IsLoading">
            <MudToggleItem Value="@(MapMode.Single)" Text=@(base.IsLoading ? "Single..." : "Single") />
            <MudToggleItem Value="@(MapMode.All)" Text=@(base.IsLoading ? "All Facilities..." : "All Facilities") />
        </MudToggleGroup>
    }
    <div class="map-container">
        @if (LGAFilter is null)
        {
            <MudSelect T="string" Dense="true" Value="selectedLGAid" Label="Select An LgAid To View The Map"
                       ValueChanged="@((string x) => ValueChanged(x, false))" Class="px-2 mb-1"
                       AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium">
                @foreach (LGAidCounts lgAid in lgaids)
                {
                    <MudSelectItem Value="@lgAid.LGAidName">@lgAid.LGAidName (@lgAid.count)</MudSelectItem>
                }
            </MudSelect>
        }
        @if (base.IsLoading)
        {
            @* <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-2" /> *@
        }
        <GoogleMap @ref="@map" Options="@mapOptions" CssClass=@(IsMinimizedView ? "border-rad min-map" : "border-rad")></GoogleMap>
    </div>
</div>

<style>
    .map-container > .min-map > div > div.gm-style > div:nth-child(4) > div > .gm-style-mtc > button {
        height: 30px !important;
        padding: 0 10px !important;
        font-size: 16px !important;
    }

    .map-container > .min-map > div > div.gm-style > div:nth-child(4) > div > .gm-style-mtc > ul > li {
        height: 30px !important;
        padding: 0 10px !important;
        font-size: 16px !important;
    }

    gm-tilt {
        display: none;
    }

    .min-map {
        height: 250px !important;
    }

    .mud-toggle-item {
        padding: 2px !important;
    }

    .map-container > div > div > div:nth-child(4) > div:nth-child(4) > div:nth-child(2) > div > div.gm-iv-address-link > a {
        display: none;
    }

    .map-container > div > div > div:nth-child(4) > div:nth-child(14) > div > a > div > img {
        display: none;
    }

    .map-container > div > div > div:nth-child(4) > div:nth-child(16) > div {
        display: none !important;
    }

    .map-container > div > div > div:nth-child(3) > div:nth-child(16) > div {
        display: none !important;
    }

    .map-container > div > div > div:nth-child(3) > div:nth-child(14) > div > a > div > img {
        display: none !important;
    }

    .map-container > div > div > div:nth-child(4) > div:nth-child(4) > div:nth-child(2) > div > div.gm-iv-marker {
        display: none !important;
    }
</style>